
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #46afe0;
    min-height: 100vh;
    font-family: Gotham Rounded, sans-serif;
}

.wrapper {
    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: auto auto;
    max-width: 1200px;
    
}

.plus, .divide, .multiple,.subtract {
    background-color: rgb(218, 217, 217);
}

button {
    font-size: 2.4rem;
}

.output {
    min-height: 15rem;
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}



.output .previous-operand {
    color: rgb(255, 255, 255, .75);
    font-size: 2rem;
}

.output .current-operand {
    color: white;
    font-size: 4rem;
}


.keys {
    display: grid;
    grid-template-areas:
        ". . . .",
        ". . . del"
        ". . . equal"
        ". . . equal"
        ". . . equal";


    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

}



.equal {
    grid-area: equal;
    grid-row: 3/6;
    background-color: rgb(230,92,79);
}

.keys  button {
    border: solid 1px rgb(173, 173, 173);
    width: 40px;
    padding: 1em 2em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* .keys button:hover {
    background-color: #46afe0;
} */